DISCORD_TOKEN=ton_token_ici
CLIENT_ID=id_du_bot_ici
GUILD_ID=guild_id_ici
CHANNEL_VALIDATION=channel_validation_id_ici
CHANNEL_LADDER=channel_ladder_id_ici
ROLE_OFFICIER=role_officier_id_ici
ADMIN_ID=admin_id_ici
